<%- include('partials/adminHeader.ejs') %>

<% if (adminAlertmsg) { %>
  <div class="message-box" id="alertmsgID"><%= adminAlertmsg %></div>
<% } %>


 <!-- Form to add new category -->
 <div class="row justify-content-center align-items-center" style=" height: 85vh;">
    <div class="col-6 ">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6 class="text-left">Add Category</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-0" style="width: 500px;">
          <div class="table-responsive p-3">
            <form action="/admin/category-management/add-new-category" class="form-group" method="post">
                <label for="">Category name</label>
                <input type="text" class="form-control" name="category">
                <br>
                <button type="submit" class="btn btn-primary p-2">Add</button>
                <button type="button" class="btn btn-danger p-2"><a href="/admin/category-management" style="color: white;">Cancel</a></button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>



<%- include('partials/adminFooter.ejs') %>  