<!--
=========================================================
* Argon Dashboard 2 - v2.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/adminassets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/adminassets/img/favicon.png">
  <title>
    HomeDecor||admin
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/adminassets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/adminassets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/adminassets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/adminassets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>

<body class="">

  <% if (adminAlertmsg) { %>
    <div class="message-box" id="alertmsgID"><%= adminAlertmsg %></div>
<% } %>

  <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-40 pt-5 pb-11 m-3 border-radius-lg" >
      
      <div class="container">
        <div class="row justify-content-center">
       <h3 style="position: absolute;left: 43%;">HomeDecor.</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h5>Admin Log in</h5>
            </div>
            <div class="card-body">

              <form action="/admin/signin" id="adminsigninForm" method="post">
                
                <div class="mb-3">
                  <label for="email">Email<span style="color: red;"> *</span></label>
                  <input id="adminEmail" name="email" class="form-control"  aria-label="Email" value="admin@gmail.com">
                  <div class="error" id="adminEmailErr"></div>
                </div>
                <div class="mb-3">
                  <label for="password">Password<span style="color: red;"> *</span></label>
                  <input id="adminPassword" name="password" class="form-control"  aria-label="Password" value="admin">
                  <div class="error" id="adminPassErr"></div>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign in</button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Company
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            About Us
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Team
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Products
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Blog
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Pricing
          </a>
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-dribbble"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-twitter"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-instagram"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-pinterest"></span>
          </a>
          <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
            <span class="text-lg fab fa-github"></span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            Copyright © <script>
              document.write(new Date().getFullYear())
            </script> HomeDecor.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <!--   Core JS Files   -->

  <script>
    const adminsigninForm = document.getElementById('adminsigninForm');
  
  // Attach an event listener to the form's submit event
  adminsigninForm.addEventListener('submit', function (event) {
    // Prevent the default form submission
    event.preventDefault();
  
    // Call the signupValidate function
    const isValid = adminloginValidate();
  
    // If validation fails, do not submit the form
    if (!isValid) {
      return false;
    } else {
      adminsigninForm.submit();
    }
    // If validation passes, you can manually submit the form
    // This will trigger the actual form submission to /register
  });
  </script>

<!-- js for form validation -->
<script src="/javascript/script.js"></script>

<script>
  // Get the message element
  const messageElement = document.getElementById('alertmsgID');

  // Function to hide the message after 10 seconds
  setTimeout(() => {
      messageElement.style.display = 'none';
  }, 6000); 
</script>

  <script src="/adminassets/js/core/popper.min.js"></script>
  <script src="/adminassets/js/core/bootstrap.min.js"></script>
  <script src="/adminassets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/adminassets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/adminassets/js/argon-dashboard.min.js?v=2.0.4"></script>
  
</body>

</html>