
<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
    <% } else { %>
        <%- include('../partials/userHeader.ejs') %>
        <% } %>

        
<% if (typeof userAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
<% } %>


<div class="login-register-section section pt-90 pt-lg-70 pt-md-60 pt-sm-55 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20 otpbg">
    <div class="container otpmain">
        <div class="row">
            <!--otp Form Start-->
            <div class="col-md-6 col-sm-6">
                <div class="customer-login-register">
                    <div class="col-md-6 col-sm-6">
                        <div class="otp-container">
                            <h3 style="font-weight: 500;">Password assistance</h3>
                            <h5>Enter the email address or mobile phone number associated with your HomeDecor account</h5>
                            <br>
                            <form action="/forgot-password" method="post">
                                
                                <!-- otp input -->
                            <div>
                                <input type="text" id="email" name="emailormob" class="otp-input"  placeholder="Email or mobile phone number" required>
                                <div class="error text-center" id="otpErr"></div>
                            </div>
                           
                            

                            <!-- submit button -->
                            <div>
                                <button type="submit" class="otp-submit-button">Continue</button>
                            </div>
                            </form>
                            
                        </div>
                </div>
            </div>
            <!--Login Form End-->
           
        </div>
    </div>
</div>

<%- include('partials/userFooter.ejs') %> 