
<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
    <% } else { %>
        <%- include('../partials/userHeader.ejs') %>
        <% } %>

        
<% if (typeof userAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
<% } %>




        <!--slider section start-->
        <div class="hero-section section position-relative">
            <div class="hero-slider section">

                <!--Hero Item start-->
                <div class="hero-item large-height bg-image" data-bg="assets/images/hero/hero-3.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <!--Hero Content start-->
                                <div class="hero-content-2 margin-top center">

                                    <h2>Creative Design <br> Modern & Exclusive Furniture</h2>
                                        <a href="/shop" class="btn">SHOP NOW</a>

                                </div>
                                <!--Hero Content end-->

                            </div>
                        </div>
                    </div>
                </div>
                <!--Hero Item end-->

                <!--Hero Item start-->
                <div class="hero-item large-height bg-image" data-bg="assets/images/hero/hero-4.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                <!--Hero Content start-->
                                <div class="hero-content-2 margin-top center">

                                    <h2>Creative Design <br> Modern & Exclusive Furniture</h2>
                                        <a href="shop.html" class="btn">SHOP NOW</a>

                                </div>
                                <!--Hero Content end-->

                            </div>
                        </div>
                    </div>
                </div>
                <!--Hero Item end-->

            </div>
        </div>
        <!--slider section end-->




        <!-- Banner section start -->
        <!-- <div class="banner-section section pt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12"> -->
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-item mb-30">
                            <div class="banner-image">
                                <a href="shop.html">
                                    <img src="assets/images/banner/banner4.jpg" alt="">
                                </a>
                            </div>
                            <div class="banner-content tr-right">
                                <h3 class="title">Creative <br> Comfortable Chair</h3>
                                    <a href="shop.html">SHOP NOW</a>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    <!-- </div>
                    <div class="col-lg-7 col-md-12 col-sm-12"> -->
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-item mb-30">
                            <div class="banner-image">
                                <a href="shop-left-sidebar.html">
                                    <img src="assets/images/banner/banner5.jpg" alt="">
                                </a>
                            </div>
                            <div class="banner-content tr-right">
                                <h3 class="title">Stylish Divan <br> Latest Collection</h3>
                                    <a href="shop.html">SHOP NOW</a>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    <!-- </div>
                    <div class="col-lg-7 col-md-12 col-sm-12"> -->
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-item mb-30">
                            <div class="banner-image">
                                <a href="shop.html">
                                    <img src="assets/images/banner/banner6.jpg" alt="">
                                </a>
                            </div>
                            <div class="banner-content tl-left color-white">
                                <h3 class="title">2019 <br> Bed Collections</h3>
                                    <a href="shop.html">SHOP NOW</a>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    <!-- </div>
                    <div class="col-lg-5 col-md-12 col-sm-12"> -->
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-item mb-30">
                            <div class="banner-image">
                                <a href="shop-left-sidebar.html">
                                    <img src="assets/images/banner/banner7.jpg" alt="">
                                </a>
                            </div>
                            <div class="banner-content tl-left">
                                <h3 class="title">TV Cabinet <br> New Arrivals</h3>
                                    <a href="shop.html">SHOP NOW</a>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    <!-- </div>
                </div>
            </div>
        </div> -->
        <!-- Banner section End -->


        <!--Product section start-->
        <div class="product-section section pt-70 pt-lg-50 pt-md-40 pt-sm-30 pt-xs-20 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-title text-center mb-15">
                            <h2>Popular Furniture</h2>
                        </div>
                 
                    </div>
                </div>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade active show" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span>-20%</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-1.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-2.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Stylish Design Chair</a></h3>
                                        <p class="product-price"><span class="discounted-price">$190.00</span> <span class="main-price discounted">$230.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span>-20%</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-2.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-3.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Miro Dining Table</a></h3>
                                        <p class="product-price"><span class="discounted-price">$113.00</span> <span class="main-price discounted">$180.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span>-20%</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-4.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-1.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Janus Table Lamp</a></h3>
                                        <p class="product-price"><span class="discounted-price">$86.00</span> <span class="main-price discounted">$150.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-3.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Discus Floor and Table</a></h3>
                                        <p class="product-price"><span class="discounted-price">$290.00</span> <span class="main-price discounted">$330.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span class="sale">Sale</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-5.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-2.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Sled Mini Sideboard</a></h3>
                                        <p class="product-price"><span class="discounted-price">$90.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span class="sale">New</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-6.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-4.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Mega 2 Seater Sofa</a></h3>
                                        <p class="product-price"><span class="discounted-price">$390.00</span> <span class="main-price discounted">$470.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span>-20%</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-7.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Sentei Pruning Shears</a></h3>
                                        <p class="product-price"><span class="discounted-price">$65.00</span> </p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span>-29%</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-8.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-2.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Affordances Side Table</a></h3>
                                        <p class="product-price"><span class="discounted-price">$170.00</span> <span class="main-price discounted">$280.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>
                        </div>
                    </div>
                    <div id="office" class="tab-pane" role="tabpanel" aria-labelledby="office-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-9.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-10.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Normal Dining chair</a></h3>
                                        <p class="product-price"><span class="discounted-price">$130.00</span> </p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span class="sale">Sale</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-11.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-12.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Tripod lampshade</a></h3>
                                        <p class="product-price"><span class="discounted-price">$210.00</span> <span class="main-price discounted">$240.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-10.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-13.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Hot Design Table</a></h3>
                                        <p class="product-price"><span class="discounted-price">$250.00</span> <span class="main-price discounted">$280.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-14.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Outdoor Lock Chair</a></h3>
                                        <p class="product-price"><span class="discounted-price">$180.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <div class="product-label">
                                            <span class="sale">New</span>
                                        </div>
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-14.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-13.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Classic Chair</a></h3>
                                        <p class="product-price"><span class="discounted-price">$60.00</span> </p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-15.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-16.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Classic Chair Wodden</a></h3>
                                        <p class="product-price"><span class="discounted-price">$183.00</span> <span class="main-price discounted">$200.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-10.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Classic Table Wodden</a></h3>
                                        <p class="product-price"><span class="discounted-price">$290.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <!--  Single Grid product Start -->
                                <div class="single-grid-product mb-40">
                                    <div class="product-image">
                                        <a href="single-product.html">
                                            <img src="assets/images/product/product-16.jpg" class="img-fluid" alt="">
                                            <img src="assets/images/product/product-2.jpg" class="img-fluid" alt="">
                                        </a>

                                        <div class="product-action">
                                            <ul>
                                                <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3 class="title"> <a href="single-product.html">Miniature Almari</a></h3>
                                        <p class="product-price"><span class="discounted-price">$230.00</span> <span class="main-price discounted">$250.00</span></p>
                                    </div>
                                </div>
                                <!--  Single Grid product End -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--Product section end-->




        <!-- Banner section start -->
        <!-- <div class="banner-section section pb-40 pb-sm-30 pb-xs-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12"> -->
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-item mb-30">
                            <div class="banner-image">
                                <a href="shop.html">
                                    <img src="assets/images/banner/banner8.jpg" alt="">
                                </a>
                            </div>
                            <div class="discount-banner-content">
                                <h3>Flash Sale <br> <span>59%</span> <br> Discount</h3>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    <!-- </div>
                    <div class="col-lg-8 col-md-12 col-sm-12"> -->
                        <!-- Single Banner Start -->
                        <!-- <div class="single-banner-item mb-30 bg-image" data-bg="assets/images/banner/banner9.jpg">
                            <div class="sp-banner-content content-right">
                                <span class="normat-text">UP TO 50%</span>
                                <h2 class="title">TV Cabinet</h2>
                                <span class="normat-text">GRAB IT NOW!</span>
                                <div class="countdown-area">
                                    <div class="product-countdown" data-countdown="2023/12/01"></div>
                                </div>
                                <a href="shop.html">SHOP NOW</a>
                            </div>
                        </div> -->
                        <!-- Single Banner End -->
                    <!-- </div>
                </div>
            </div>
        </div> -->
        <!-- Banner section End -->


        <!--Features section start-->
        <div class="features-section section pt-30 pt-lg-15 pt-md-0 pt-sm-0 pt-xs-15">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Feature Start -->
                        <div class="single-feature mb-30">
                            <div class="feature-image">
                                <img src="assets/images/icons/feature-1.png" class="img-fluid" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Free home delivery</h4>
                                <p class="short-desc">Provide free home delivery for the all product over $100 </p>
                            </div>
                        </div>
                        <!-- Single Feature End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Feature Start -->
                        <div class="single-feature mb-30">
                            <div class="feature-image">
                                <img src="assets/images/icons/feature-2.png" class="img-fluid" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Quality Products</h4>
                                <p class="short-desc">We ensure the product quality that is our main goal </p>
                            </div>
                        </div>
                        <!-- Single Feature End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Feature Start -->
                        <div class="single-feature mb-30">
                            <div class="feature-image">
                                <img src="assets/images/icons/feature-3.png" class="img-fluid" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">3 Days Return</h4>
                                <p class="short-desc">Provide free home delivery for the all product over $100 </p>
                            </div>
                        </div>
                        <!-- Single Feature End -->
                    </div>

                </div>
            </div>
        </div>
        <!--Features section end-->




        <!-- Testimonial Area Start -->
        <div class="testimonial-section section pb-80 pb-lg-60 pb-md-50 pb-sm-40 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="testimonial-wrap bg-gray-two pt-45 pb-30">
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="testimonial-wrapper section-space--inner">
                                        <div class="testimonial-slider-content">
                                            <div class="item">
                                                <div class="row align-items-center">
                                                    <div class="col-md-5">
                                                        <div class="testimonial-image">
                                                            <img src="assets/images/testimonial/testimonial-2.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="testimonial testimonial-style-2 gutter-item">
                                                            <div class="testimonial-inner">
                                                                <div class="testimonial-author">
                                                                    <div class="author-thumb">
                                                                        <img src="assets/images/author/author-1.png" alt="">
                                                                    </div>
                                                                    <div class="author-info">
                                                                        <h4>Zeniyea Henderson</h4>
                                                                        <span>CTO & CO Founder, Axels</span>
                                                                    </div>
                                                                </div>
                                                                <div class="testimonial-description">
                                                                    <blockquote class="testimonials-text">
                                                                        <p>“I am very much happy to buy product from nelson, the provide the best quality of product. Product quality is very satisfactory. Also the creative design of their Furniture make me happy.”</p>
                                                                    </blockquote>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row align-items-center">
                                                    <div class="col-md-5">
                                                        <div class="testimonial-image">
                                                            <img src="assets/images/testimonial/testimonial-1.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="testimonial testimonial-style-2 gutter-item">
                                                            <div class="testimonial-inner">
                                                                <div class="testimonial-author">
                                                                    <div class="author-thumb">
                                                                        <img src="assets/images/author/author-1.png" alt="">
                                                                    </div>
                                                                    <div class="author-info">
                                                                        <h4>Zeniyea Henderson</h4>
                                                                        <span>CTO & CO Founder, Axels</span>
                                                                    </div>
                                                                </div>
                                                                <div class="testimonial-description">
                                                                    <blockquote class="testimonials-text">
                                                                        <p>“I am very much happy to buy product from HomeDecor, the provide the best quality of product. Product quality is very satisfactory. Also the creative design of their Furniture make me happy.”</p>
                                                                    </blockquote>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End -->



        <!--Brand section start-->
        <div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">
                    <div class="brand-slider section">
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-1.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-2.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-3.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-4.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-5.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-1.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-2.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-3.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-4.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="assets/images/brands/brand-5.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Brand section end-->
        <%- include('partials/userFooter.ejs') %>
      