
<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
    <% } else { %>
        <%- include('../partials/userHeader.ejs') %>
        <% } %>

        
<% if (typeof userAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
<% } %>


<div class="login-register-section section pt-90 pt-lg-70 pt-md-60 pt-sm-55 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20 otpbg">
    <div class="container otpmain">
        <div class="row">
            <!--otp Form Start-->
            <div class="col-md-6 col-sm-6">
                <div class="customer-login-register">
                    <div class="col-md-6 col-sm-6">
                        <div class="otp-container">
                            <h3>Create new password</h3>
                            <h4>We'll ask for this password whenever you sign in</h4>
                            <form action="/new-password-page" method="post">
                                
                                <!-- otp input -->
                            <div>
                                <input type="text" id="newpass" name="newpass" class="otp-input"  placeholder="New passowrd" required>
                                <div class="error text-center" id="otpErr"></div>
                            </div>
                           
                            <div>
                                <input type="text" id="confirmpass" name="confirmpass" class="otp-input"  placeholder="Passowrd again" required>
                                <div class="error text-center" id="otpErr"></div>
                            </div>


                            <!-- submit button -->
                            <div>
                                <button type="submit" class="otp-submit-button">Save changes</button>
                            </div>
                            </form>
                           
                        </div>
                </div>
            </div>
            <!--Login Form End-->
           
        </div>
    </div>
</div>


<%- include('partials/userFooter.ejs') %> 